<?php
/*
Template Name: biografia
*/
get_header(); ?>
<div class="medium-10 offset-2 columns">
	<div class="small-12 large-12 columns" role="main">

	<?php if ( have_posts() ) : ?>

		<?php do_action('foundationPress_before_content'); ?>

		
			
			<div class="textocon small-12 columns">
			<?php while ( have_posts() ) : the_post(); ?>
<?php the_content(); ?>
		<?php endwhile; ?>
		</div>

			<?php get_template_part( 'content', 'none' ); ?>

		<?php do_action('foundationPress_before_pagination'); ?>

	<?php endif;?>


	<?php do_action('foundationPress_after_content'); ?>

	</div>

</div>
<?php get_footer(); ?>
