/*nav*/

nav.menu {padding-left: 0 !important;}
nav.menu section ul {width: 100% !important;}
nav.menu section ul li { display: block;  float: none; padding-left: 30px;  }
nav.menu section ul li a { text-transform: uppercase; font-weight: lighter; font-size: 15px; line-height: 2rem !important;}
nav.menu section ul li:hover a {text-decoration: line-through;} 
nav.menu section ul li.active a { font-weight: 300; }
nav.menu section ul li.divider { height: 25px; background: none; border: none; }
/*nav*/

/*contacto*/
.textocon {margin-top: 20px; }
.contact {margin-top: 25px; }
/*contacto*/

/*proyectos*/
.proyect { margin-top: 25px;}


/*proyectos*/

/*bitacora*/
figure{margin: 0;}
.maso { margin-top: 25px;}
/*bitacora*/

/*inicio*/

.inicio { display: table; }
.inicio figure { display: table-cell; vertical-align: middle;}
/*inicio*/